body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.67; */
  letter-spacing: normal;
  text-align: left;
  color: #9c9c9c;
  /* background-color: #fafafa; */
  font-weight: 300;
  line-height: 1.69;
  color: #0c2846;
}

p {
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #009feb;
}

h1 {
  font-size: 32px;
  line-height: 1.78;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  line-height: 1.22;
}

h3.package-h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  line-height: 1.88;
}

h5 {
  font-size: 14px;
  line-height: 1.29;
}

h6 {
  font-size: 12px;
  line-height: 1.29;
}

label,
.label {
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #9c9c9c;
}

p {
  margin-bottom: 0;
}



img {
  max-width: 100%;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #0c2846;
}

button, button:focus{
  border: none;
  outline: none !important;
}

